#WorldMap{
     position: absolute;
     z-index: -5;
     left: 8px;
     top: 8px;

}
/* #RethramisImg{
    position: absolute;
    top: calc(895px - 14px);
    left: calc(708px - 15px);
    opacity: 0.5;
}

#YudiaImg{
     position: absolute;
     top: calc(958px - 14px);
     left: calc(910px - 15px);
     opacity: 0.5
}

#WestLuterraImg{
     position: absolute;
     top: calc(903px - 14px);
     left: calc(993px - 15px);
     opacity: 0.5
}

#EastLuterraImg{
     position: absolute;
     top: calc(902px - 14px);
     left: calc(1124px - 15px);
     opacity: 0.5
}

#AnikkaImg{
     position: absolute;
     opacity: 0.5;
     top: calc(536px - 14px);
     left: calc(1455px - 15px);
}

#ArthetineImg{
     position: absolute;
     opacity: 0.5;
     top: calc(254px - 14px);
     left: calc(1395px - 15px);
}

#FeitonImg{
     position: absolute;
     opacity: 1;
     top: calc(220px + 8px);
     left: calc(58px + 8px);
}

#NorthVernImg{
     position: absolute;
     opacity: 0.5;
     top: calc(450px - 14px);
     left: calc(895px - 15px);
}

#PunikaImg{
     position: absolute;
     opacity: 0.5;
     top: calc(903px - 14px);
     left: calc(320px - 15px);
}

#RohendelImg{
     position: absolute;
     opacity: 0.5;
     top: calc(495px - 14px);
     left: calc(147px - 15px);
}

#ShushireImg{
     position: absolute;
     opacity: 0.5;
     top: calc(83px - 14px);
     left: calc(932px - 15px);
}

#TortoykImg{
     position: absolute;
     opacity: 0.5;
     top: calc(786px - 14px);
     left: calc(1354px - 13px);
}

#YornImg{
     position: absolute;
     opacity: 0.5;
     top: calc(980px + 10px);
     left: calc(0px + 8px);
} */


#Rethramis{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1020px;
     left: 825px;

     width: 50px;
     height: 50px;
     box-shadow: 0px 0px 20px 5px #0ff;
}

#Yudia{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1014px;
     left: 981px;

     width: 50px;
     height: 50px;
}

#WestLuterra{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1057px;
     left: 1064px;;

     width: 50px;
     height: 50px;
}

#EastLuterra{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1009px;
     left: 1156px;;

     width: 50px;
     height: 50px;
}

#Anikka{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 608px;
     left: 1528px;;

     width: 50px;
     height: 50px;
}

#Arthetine{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 314px;
     left: 1449px;;

     width: 50px;
     height: 50px;
}

#Feiton{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 310px;
     left: 136px;;

     width: 50px;
     height: 50px;
}

#NorthVern{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 508px;
     left: 1003px;;

     width: 50px;
     height: 50px;
}

#Punika{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1009px;
     left: 380px;;

     width: 50px;
     height: 50px;
}

#Rohendel{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 635px;
     left: 246px;;

     width: 50px;
     height: 50px;
}

#Shushire{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 71px;
     left: 1073px;;

     width: 50px;
     height: 50px;
}

#Tortoyk{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 820px;
     left: 1385px;;

     width: 15px;
     height: 15px;
}

#Yorn{
     background-color: azure;
     border-radius: 50%;
     position: absolute;
     top: 1147px;
     left: 103px;;

     width: 50px;
     height: 50px;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
     background-color: #eee;
     position: absolute;
     color:#444;
     cursor: pointer;
     padding: 18px;
     width: 10%;
     border: none;
     text-align: center;
     outline: none;
     font-size: 15px;
   }
   
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
     background-color: #eee;
   }
   
/* Style the collapsible content. Note: hidden by default */
.content {
     margin-top: 45px;
     padding-top: 0px;
     padding-left: 18px;
     display: none;
     position: absolute;
     overflow: hidden;
     background-color: #f1f1f1;
}

#vendorInfo {
     width: 60%;

}

#itemmenu{
     position: absolute;
     left: 270px;
     width: 15%;
}

.icon_img{
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
     width: 25px;
     vertical-align: middle;  
}

.chosenmap{     
     animation-name: glow;
     animation-duration: 1.3s;
     animation-iteration-count: infinite;
     
}

@keyframes glow {
     0% {box-shadow: 0px 0px 20px -10px #0ff;}
     25% {box-shadow: 0px 0px 20px 0px #0ff;}
     50% {box-shadow: 0px 0px 20px 5px #0ff;}
     75% {box-shadow: 0px 0px 20px 3px #0ff;}
     100% {box-shadow: 0px 0px 20px 0px #0ff;}
}